entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[userenv]

[userenv.shared]
PORT = "4000"
FRONTEND_ORIGIN = "https://b6cac4cd-c073-434b-8497-eff739263f69-00-1qc7irev6jfzk.sisko.replit.dev"
NEXT_PUBLIC_FRONTEND_ORIGIN = "https://b6cac4cd-c073-434b-8497-eff739263f69-00-1qc7irev6jfzk.sisko.replit.dev"
DIRECT_URL = "postgresql://postgres.gpumxtrnhkcdoolblfny:onechat1234!@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL = "https://gpumxtrnhkcdoolblfny.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY = "sb_publishable_6K7p8Xc8A0eh6mV2M0kfig_uFSA_r8B"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
